**Giovano Panatta**

**Análise de Dados**

**Vamos carregar o arquivo "credit.csv" em um DataFrame. O arquivo "Credit_Dataset_Description.txt" contém a descrição de todas as variáveis presentes no conjunto de dados.**

In [23]:
#Importando a blbioteca pandas
import pandas as pd

In [24]:
#Carregando o arquivo csv do diretório e o transformando em um DF
data = pd.read_csv("credit.csv")

#Visualizando o DF
data.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee

**Vamos apresentar o tipo de cada uma das variáveis do conjunto de dados.**

In [25]:
#Utilizando o dtypes. Nota: os dados estão distribuídos em strings e integers
data.dtypes

checking_balance        object
months_loan_duration     int64
credit_history          object
purpose                 object
amount                   int64
savings_balance         object
employment_length       object
installment_rate         int64
personal_status         object
other_debtors           object
residence_history        int64
property                object
age                      int64
installment_plan        object
housing                 object
existing_credits         int64
default                  int64
dependents               int64
telephone               object
foreign_worker          object
job                     object
dtype: object

Vamos apresentar as medidas estatísticas básicas (média, mediana, percentis, etc.) das variáveis numéricas do conjunto de dados utilizando um único método da biblioteca Pandas

In [6]:
#Utilizando o método describe() do Pandas
data.describe()

,months_loan_duration,amount,installment_rate,residence_history,age,existing_credits,default,dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.300000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.458487,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,2.000000

Agora criaremos um objeto para armazenar a média e a mediana dos dados presentes na variável "age". Nosso próximo passo é escolher um nome apropriado para esse objeto.

In [7]:
age2 = {
    "media": data["age"].mean(),
    "mediana": data["age"].median()

}

age2

{'media': 35.546, 'mediana': 33.0}

Vamos criar e apresentar um novo DataFrame, escolhendo um nome apropriado, que contenha apenas as variáveis do tipo objeto do DataFrame original.

In [8]:
data_object = data.select_dtypes(include='object')
data_object.head()

,checking_balance,credit_history,purpose,savings_balance,employment_length,personal_status,other_debtors,property,installment_plan,housing,telephone,foreign_worker,job
0,< 0 DM,critical,radio/tv,unknown,> 7 yrs,single male,none,real estate,none,own,yes,yes,skilled employee
1,1 - 200 DM,repaid,radio/tv,< 100 DM,1 - 4 yrs,female,none,real estate,none,own,none,yes,skilled employee
2,unknown,critical,education,< 100 DM,4 - 7 yrs,single male,none,real estate,none,own,none,yes,unskilled resident
3,< 0 DM,repaid,furniture,< 100 DM,4 - 7 yrs,single male,guarantor,building society savings,none,for free,none,yes,skilled employee
4,< 0 DM,delayed,car (new),< 100 DM,1 - 4 yrs,single male,none,unknown/none,none,for free,none,yes,skilled employee

Agora vamos criar e apresentar um novo DataFrame, escolhendo um nome apropriado, contendo apenas as observações entre as linhas 155 e 705 do DataFrame criado no item 5.

In [9]:
#Utilizando método iloc e atribuindo o resultado em um novo DF (a entrada 705 será excçuída)
data_object2 = data_object.iloc[155:705]
#Examinando os 5 primeiros resuldados
data_object2.head()

,checking_balance,credit_history,purpose,savings_balance,employment_length,personal_status,other_debtors,property,installment_plan,housing,telephone,foreign_worker,job
155,< 0 DM,repaid,furniture,< 100 DM,1 - 4 yrs,female,none,other,none,rent,none,yes,skilled employee
156,< 0 DM,critical,repairs,101 - 500 DM,> 7 yrs,single male,guarantor,real estate,none,own,none,no,skilled employee
157,< 0 DM,fully repaid this bank,retraining,< 100 DM,> 7 yrs,married male,none,other,bank,own,none,yes,unskilled resident
158,1 - 200 DM,repaid,car (new),101 - 500 DM,4 - 7 yrs,single male,none,other,bank,own,yes,yes,skilled employee
159,unknown,critical,radio/tv,unknown,1 - 4 yrs,single male,none,real estate,none,own,none,yes,unskilled resident

In [10]:
#Examinando os últimos 5 resultados
data_object2.tail()

,checking_balance,credit_history,purpose,savings_balance,employment_length,personal_status,other_debtors,property,installment_plan,housing,telephone,foreign_worker,job
700,unknown,repaid,furniture,501 - 1000 DM,1 - 4 yrs,female,none,other,none,rent,none,yes,unskilled resident
701,< 0 DM,critical,car (used),< 100 DM,> 7 yrs,single male,none,unknown/none,none,for free,yes,yes,skilled employee
702,> 200 DM,repaid,radio/tv,101 - 500 DM,> 7 yrs,female,none,unknown/none,none,for free,yes,yes,skilled employee
703,1 - 200 DM,delayed,business,101 - 500 DM,> 7 yrs,single male,none,building society savings,stores,own,none,yes,skilled employee
704,1 - 200 DM,repaid,business,< 100 DM,0 - 1 yrs,female,none,building society savings,none,own,yes,yes,skilled employee

Vamos criar e apresentar um novo DataFrame, escolhendo um nome apropriado, contendo apenas as observações que possuem histórico de crédito crítico e são de trabalhadores estrangeiros, a partir do DataFrame criado no item 5.

In [11]:
#Filtrando credit_history == critital & foreingn_worker == yes do DF data_object
critical_clients = data_object[(data_object["credit_history"] == "critical") &
                    (data_object["foreign_worker"] == "yes")]
critical_clients.head()

,checking_balance,credit_history,purpose,savings_balance,employment_length,personal_status,other_debtors,property,installment_plan,housing,telephone,foreign_worker,job
0,< 0 DM,critical,radio/tv,unknown,> 7 yrs,single male,none,real estate,none,own,yes,yes,skilled employee
2,unknown,critical,education,< 100 DM,4 - 7 yrs,single male,none,real estate,none,own,none,yes,unskilled resident
9,1 - 200 DM,critical,car (new),< 100 DM,unemployed,married male,none,other,none,own,none,yes,mangement self-employed
13,< 0 DM,critical,car (new),< 100 DM,> 7 yrs,single male,none,other,none,own,none,yes,unskilled resident
16,unknown,critical,radio/tv,unknown,> 7 yrs,single male,none,building society savings,none,own,none,yes,skilled employee

Vamos criar e apresentar um novo DataFrame, escolhendo um nome apropriado, porém agora removendo todas as observações que não contenham um telefone cadastrado, a partir do DataFrame criado no item 5.

In [12]:
#Verificando a o objeto nulo, no caso == 'none'
data_object['telephone'].value_counts()

#Encontramos 404 entradas contendo telefone

none    596
yes     404
Name: telephone, dtype: int64

In [13]:
#Removendo valores 'none' da coluna 'telephone em data_object e atribuindo a um novo DF
data_telephone = data_object[data_object["telephone"] == 'yes']
len(data_telephone)

#O resultado são as 404 entradas contendo telefone

404

Vamos criar e apresentar um novo DataFrame, escolhendo um nome apropriado, a partir do DataFrame original, traduzindo os nomes de todas as variáveis.

In [14]:
#Renomeando as colunas a partir do DF original "data"
#Criando um dicionário
data_rename = {
     'checking_balance': 'saldo_corrente',
    'months_loan_duration': 'duracao_emprestimo_meses',
    'credit_history': 'historico_credito',
    'purpose': 'finalidade',
    'amount': 'quantidade',
    'savings_balance': 'saldo_poupanca',
    'employment_length': 'duracao_emprego',
    'installment_rate': 'taxa_prestacao',
    'personal_status': 'status_pessoal',
    'other_debtors': 'outros_devedores',
    'residence_history': 'historico_residencia',
    'property': 'propriedade',
    'age': 'idade',
    'installment_plan': 'plano_prestacao',
    'housing': 'moradia',
    'existing_credits': 'creditos_existentes',
    'default': 'inadimplente',
    'dependents': 'dependentes',
    'telephone': 'telefone',
    'foreign_worker': 'trabalhador_externo',
    'job': 'emprego'
}

data_renamed = data.rename(columns=data_rename)
data_renamed.columns

Index(['saldo_corrente', 'duracao_emprestimo_meses', 'historico_credito',
       'finalidade', 'quantidade', 'saldo_poupanca', 'duracao_emprego',
       'taxa_prestacao', 'status_pessoal', 'outros_devedores',
       'historico_residencia', 'propriedade', 'idade', 'plano_prestacao',
       'moradia', 'creditos_existentes', 'inadimplente', 'dependentes',
       'telefone', 'trabalhador_externo', 'emprego'],
      dtype='object')

Vamos criar e apresentar um novo DataFrame, escolhendo um nome apropriado, a partir do DataFrame original, convertendo a variável "checking_balance" para valores numéricos, seguindo o padrão especificado.

In [15]:
# Criando um dicionário com variáveis numéricas
checking_balance_map_original = {
    'unknown': 0,
    '< 0 DM': 1,
    '1 - 200 DM': 2,
    '> 200 DM': 3
}
#Copiando o DF original para um novo (sem modificação do original)
data_numeric = data.copy()
#utilizando a função .map para substituir os valores da coluna checking_balance do DF original
#Os valores resultantes são armazenados na coluna checking_balance (copiada do DF data) para o novo DF
data_numeric['checking_balance'] = data['checking_balance'].map(checking_balance_map_original)
#Imprimindo o novo DF com value_counts()
data_numeric['checking_balance'].value_counts()

0    394
1    274
2    269
3     63
Name: checking_balance, dtype: int64

Agora, vamos criar e apresentar um novo DataFrame, escolhendo um nome apropriado, a partir do DataFrame criado no item 9, ordenado de forma crescente pela variável idade.

In [16]:
#Utilizando o DF data_renamed (item 9)
#utilizando a função sort_values()

idade_crescente = data_renamed.sort_values(by="idade")
idade_crescente["idade"]

391    19
633    19
513    20
155    20
410    20
       ..
606    74
186    74
430    74
330    75
536    75
Name: idade, Length: 1000, dtype: int64

Vamos criar e apresentar um novo DataFrame, escolhendo um nome apropriado, a partir do DataFrame original, que contenha as informações solicitadas, utilizando o método pivot_table() do Pandas. Isso nos permitirá calcular a média de idade por status pessoal, tipo de emprego e status de devedor, para cada duração no emprego na base de dados.

In [17]:
pivot_table = data.pivot_table(values = 'age', #essa é a média que esperamos
                            index = ['personal_status', 'job', 'default'], #os índices e seus valores únicos
                            columns = 'employment_length', #as colunas com o tempo de emprego
                            aggfunc = 'mean') #a função de média para values
pivot_table

employment_length                                0 - 1 yrs  1 - 4 yrs  \
personal_status job                     default
divorced male   mangement self-employed 1        35.000000  40.000000
                                        2              NaN  37.000000
                skilled employee        1        38.000000  38.400000
                                        2        35.000000  32.666667
                unskilled resident      1              NaN  34.666667
                                        2        32.500000        NaN
female          mangement self-employed 1        31.500000  28.500000
                                        2        24.000000  27.600000
                skilled employee        1        27.971429  31.319149
                                        2        27.666667  27.428571
                unemployed non-resident 1        29.000000        NaN
                                        2        26.000000        NaN
                unskilled resident      1        30.428571  39.882353
                                        2        26.500000  25.875000
married male    mangement self-employed 1        30.000000  30.000000
                                        2        28.000000        NaN
                skilled employee        1        30.900000  27.950000
                                        2        28.750000  29.800000
                unemployed non-resident 1        27.000000        NaN
                unskilled resident      1        25.250000  30.333333
                                        2        38.000000  47.000000
single male     mangement self-employed 1        40.500000  36.416667
                                        2        30.000000  37.600000
                skilled employee        1        31.058824  33.487805
                                        2        34.222222  37.500000
                unemployed non-resident 1        35.000000  74.000000
                                        2              NaN        NaN
                unskilled resident      1        35.769231  32.969697
                                        2        31.000000  35.166667

employment_length                                4 - 7 yrs    > 7 yrs  \
personal_status job                     default
divorced male   mangement self-employed 1        36.000000  36.000000
                                        2              NaN  42.500000
                skilled employee        1              NaN  37.400000
                                        2        39.500000  38.500000
                unskilled resident      1        61.000000  49.000000
                                        2              NaN  61.000000
female          mangement self-employed 1        41.333333  46.571429
                                        2        30.000000  50.800000
                skilled employee        1        31.000000  38.421053
                                        2        27.400000  36.666667
                unemployed non-resident 1              NaN        NaN
                                        2              NaN        NaN
                unskilled resident      1        35.800000  44.571429
                                        2        34.000000  46.333333
married male    mangement self-employed 1        32.000000        NaN
                                        2              NaN        NaN
                skilled employee        1        28.000000  37.285714
                                        2        25.750000        NaN
                unemployed non-resident 1              NaN        NaN
                unskilled resident      1        24.666667  39.400000
                                        2        25.000000        NaN
single male     mangement self-employed 1        36.142857  40.500000
                                        2        27.000000  48.083333
                skilled employee        1        34.527273  42.968421
                                        2        29.850000  40.035714
                unemployed non-resident 1              NaN        NaN
                                        2              NaN        NaN
                unskilled resident      1        40.785714  47.263158
                                        2        31.750000  49.200000

employment_length                                unemployed
personal_status job                     default
divorced male   mangement self-employed 1         51.500000
                                        2               NaN
                skilled employee        1               NaN
                                        2         33.000000
                unskilled resident      1               NaN
                                        2               NaN
female          mangement self-employed 1         52.000000
                                        2         37.750000
                skilled employee        1         51.333333
                                        2         25.666667
                unemployed non-resident 1         37.833333
                                        2         37.000000
                unskilled resident      1         57.000000
                                        2               NaN
married male    mangement self-employed 1               NaN
                                        2         28.000000
                skilled employee        1         34.000000
                                        2               NaN
                unemployed non-resident 1         40.000000
                unskilled resident      1               NaN
                                        2               NaN
single male     mangement self-employed 1         40.062500
                                        2         39.666667
                skilled employee        1         24.500000
                                        2         46.500000
                unemployed non-resident 1         59.750000
                                        2         24.000000
                unskilled resident      1               NaN
                                        2               NaN

Vamos apresentar quantas pessoas registradas como trabalhadores especializados ("skilled employee") pagaram corretamente suas dívidas ("default" = 1). Faremos isso a partir do DataFrame original.

In [18]:
#Filtrando as colunas skilled employee e default=1
#Encontramos um total de 444 clientes que se enquadram na solicitação
#OBS:(data[job]) = cria valores booleanos
# OBS data(data[job]) = compara os valores booleanos (True) com o DF original
#OBS as comparações devem estar entre () quando se usam operações como & ou | 

clientes_pagantes = data[(data["job"] == "skilled employee") & (data["default"] == 1)]
clientes_pagantes_len = len(clientes_pagantes)
clientes_pagantes_len

444

Vamos utilizar o método .apply() do Pandas para criar uma nova coluna chamada "risk_factor" contendo as informações "high risk" e "low risk" para os clientes que tenham 3 ou mais créditos abertos na instituição e menos de 3 créditos abertos na instituição, respectivamente (utilizando a variável "existing_credits"). Em seguida, apresentaremos o DataFrame com a nova coluna criada.

In [19]:
#Criamos uma função chamada i com o argumento 'linha'

def i (linha):
    if linha ["existing_credits"] >=3: #se = ou maior que 3
        return "righ risk" #retorna
    else: # ou se diferente de >=3
        return "low risk"
#1 Criando nova coluna no DF data
#Aplicando o apply sobre a função i em axis 1 (equivalente às linhas do DF)
data['risk_factor'] = data.apply(i, axis=1)

#Contando as entradas na coluna risk_factor
data["risk_factor"].value_counts()

#Abaixo o resultado da análise:

low risk     966
righ risk     34
Name: risk_factor, dtype: int64

In [20]:
#Verificando a existência da nova coluna "risk_factor": ok!
data.columns

Index(['checking_balance', 'months_loan_duration', 'credit_history', 'purpose',
       'amount', 'savings_balance', 'employment_length', 'installment_rate',
       'personal_status', 'other_debtors', 'residence_history', 'property',
       'age', 'installment_plan', 'housing', 'existing_credits', 'default',
       'dependents', 'telephone', 'foreign_worker', 'job', 'risk_factor'],
      dtype='object')


Vamos utilizar o método .groupby() do Pandas para apresentar a mediana, valor mínimo e valor máximo das idades, agrupadas pela variável "default".

In [21]:
#agrupamos a coluna 'default' que possui dois valores 1 e 2 utilizando a função groupby()
#sobre a coluna 'age'aplicamos as operações solicitadas através da função agg
#obs: utiliza-se colchetes dentro da função agg() em ['median', 'mean', 'max'] por se tratar de uma lista
grouped = data.groupby("default")['age'].agg(['median', 'mean', 'max'])
grouped

         median       mean  max
default
1          34.0  36.224286   75
2          31.0  33.963333   74

Vamos utilizar novamente o método pivot_table() do Pandas para apresentar um relatório contendo a mediana de idade por status pessoal ("personal_status") e status de devedor ("default"). Apresentaremos a mediana para cada uma das condições de residência da base ("housing").

In [22]:
pivot_report = data.pivot_table(values = "age",
                                index=["personal_status", "default"],
                                columns = "housing",
                                aggfunc= "median")
pivot_report

housing                  for free   own  rent
personal_status default
divorced male   1            49.5  36.0  24.0
                2            29.0  33.5  44.0
female          1            49.5  31.0  25.0
                2            48.0  28.0  24.0
married male    1            47.0  28.0  25.0
                2             NaN  28.0  24.0
single male     1            38.0  35.0  35.0
                2            42.5  34.0  32.0